label {
    &.checkbox,
    &.radio {
        > input {
            display: none;

            &:checked {
                + span:after {
                    content: '';
                    display: inline-block;
                    width: 5px;
                    height: 5px;
                    background-color: #2c3e50;
                    position: absolute;
                    left: 2px;
                    top: 2px;
                }
            }
        }

        > span {
            background-color: #FFF;
            border: 2px solid #2c3e50;
            width: 9px;
            height: 9px;
            display: inline-block;
            position: relative;
        }

        &:hover {
            color: #34495e;
            cursor: pointer;

            > span {
                border-color: #34495e;
            }

            > input {
                &:checked {
                    + span:after {
                        background-color: #34495e;
                    }
                }
            }
        }
    }

    &.rounded {
        > span,
        > span:after {
            border-radius: 9px;
        }
    }
}